<!doctype html>
<html class="no-js" lang="en-GB">
<head>
  <meta charset="utf-8">
  <title>Injuries tracker</title>
  <meta name="description" content="List all the injuries of the Werder Bremen squad - Season 2020/2021">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Place favicon.ico in the root directory -->
  <link rel="stylesheet" href="scss/main.scss">
</head>
<body>

<h1>Injuries tracker</h1>

<table class="table">
  <thead class="table__head">
  <tr>
    <th>Player</th>
    <th>Type of injury</th>
    <th>Date of injury</th>
    <th>Predicted</th>
    <th>Total</th>
    <th>Status</th>
  </tr>
  </thead>
  <tbody class="table__body">
    {%- for entry in entries %}
    <tr>
      <td>{{ entry.player }}</td>
      <td>{{ entry.injuryType }}</td>
      <td>{{ entry.injuryDate }}</td>
      <td>{{ entry.predicted }}</td>
      <td>{{ entry.total }}</td>
      <td>{{ entry.status }}</td>
    </tr>
    {%- endfor %}
  </tbody>
</table>

<script src="js/main.js"></script>
</body>
</html>
